.deal {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: min-content min-content 30rem;
  gap: 3rem;

  align-items: center;
  justify-items: center;

  @include respond(tab-port) {
    grid-template-columns: repeat(6, minmax(min-content, 1fr));
  }

  @include respond(phone) {
    gap: 1rem;
  }

  // Deal Today
  &__heading {
    font-size: 6rem;
    grid-column: 1 / -1;
  }

  // Deal Product
  &__info {
    @include respond(tab-port) {
      grid-column: 5/7;
    }

    @include respond(phone) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      text-align: center;
    }

    // Organic Soup Mix 500G
    &__heading {
      font-size: 4rem;

      @include respond(tab-port) {
        font-size: 3rem;
      }
    }

    // Price Text
    &__price {
      font-size: 2rem;
      font-weight: 300;
      color: rgba($black, 0.3);

      // Product Price $__-__
      span {
        margin-left: 1rem;
        font-size: 2.5rem;
        font-weight: 500;
        color: $color-green-1;
      }
    }

    // Product Description
    &__description {
      font-size: 1.7rem;
      color: rgba($black, 0.6);

      // Bullet Points
      &__points {
        li {
          margin-left: 2.5rem;
        }

        li:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  // Overall Image Style
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Basket of Vegtables
  &__img--main {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    object-fit: contain;

    @include respond(tab-port) {
      grid-column: 1 / 5;
    }

    @include respond(phone) {
      grid-column: 1 / -1;
      grid-row: 3 / 4;
    }
  }

  &__img--1 {
    grid-column: 1 / 2;

    @include respond(tab-port) {
      grid-column: 1 / 4;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__img--2 {
    grid-column: 2 / 3;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__img--3 {
    grid-column: 3 / 4;

    @include respond(tab-port) {
      grid-column: 4 / 7;
    }

    @include respond(phone) {
      display: none;
    }
  }
}
