.header {
  &__nav {
    grid-column: 2 / span 1;
    justify-self: flex-end;
    align-self: center;

    //Nav Container
    &-items {
      display: flex;
      list-style: none;
    }

    //Link Container
    &-links {
      margin-left: 4rem;
    }

    //Individual Links
    &-link:link,
    &-link:visited {
      text-decoration: none;
      font-size: 1.5rem;
      color: $white;
      font-family: $font-secondary;
      transition: all 0.2a;

      &:hover {
        color: $color-green-1;
      }
    }

    .active {
      color: $color-green-1;
    }
  }
}
