.products {
  grid-column: center-start / center-end;

  display: grid;
  row-gap: 4rem;

  &__main-heading {
    font-size: 6rem;
    justify-self: center;
  }

  &__nav {
    &-items {
      display: flex;
      justify-content: center;
    }
    &-links {
      list-style: none;
    }
    &-link {
      text-decoration: none;
      margin: 0 2rem;
      font-size: 2rem;
      color: rbba($black, 0.5);
      font-weight: 500;
    }
    .active {
      color: $color-green-1;
    }
  }

  // Container for Product
  &__container {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  // Product Items i.e. Avocado
  .product {
    display: grid;
    grid-template-rows: 25rem min-content;

    // When hovering over products
    &:hover {
      box-shadow: 0rem 0.5rem 1rem rgba($black, 0.5);
      cursor: pointer;

      .product__details {
        background: $color-green-1;
      }
      .product__details-price {
        color: $white;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      grid-column: 1 / -1;
    }

    &__details {
      display: grid;
      grid-template-columns: 2fr, 1fr, 2fr;
      grid-template-rows: repeat(3, 1fr);

      justify-items: center;
      align-items: center;

      padding: 4rem, 8rem;
      gap: 0.5rem;

      &-heading {
        grid-column: 1 / -1;
        font-size: 2.5rem;
        text-transform: uppercase;
      }
      &-price {
        grid-column: 1 / -1;
        font-size: 3rem;
        font-weight: 500;
        color: $color-green-1;
      }
      &-icon {
        display: flex;
        width: 3rem;
        height: 3rem;
        fill: $white-lite;
        transition: all 0.2s;
        padding-left: 5px;
        padding-right: 5px;

        &:hover {
          transform: translateY(-0.3rem);
          fill: $white;
        }
      }
    }
  }
}
